
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
ul{
	background-color: #b5ce00;
	list-style-type: none;
	padding: 14px 16px;
	margin: 30px;
	overflow: hidden;
    
}
li{
	display: inline;

}
li a {
	color: white;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	width: 80px;

}


header {
	background-color: #f2f2f2;
}
img {
	margin: 25px;
	text-align: center;

	   }

.Android{

width: 400px;
position: relative;
top:40px;
right: -110px;
margin-top: -30px;

}
h1{
	position: relative;
	right: -400px;
	top: -240px;
	font-family: 'Open Sans', sans-serif;
}
p{  width: 400px;
	position: relative;
	right: -400px;
	top: -240px;
	font-family: 'Open Sans', sans-serif;
}

.Hunter{
	position: relative;
	top:40px;
    right: -110px;
    margin-top: -60px;
    font-family: 'Open Sans', sans-serif;
}
h2{
	width: 400px;
	position: relative;
	right: -400px;
	top: -240px;
	font-family: 'Open Sans', sans-serif;

}
.smartress{
	position: relative;
    top:40px;
    right: -110px;
	margin-top: -60px;
}
h3{
	width: 400px;
	position: relative;
	right: -400px;
	top: -240px;
	font-family: 'Open Sans', sans-serif;
}
hr{
	width: 700px;
	margin-left: 130px;
	margin-top: -150px;
}
.hr{

  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         110vh;
    width:          1px;      
    position: absolute;
    right: 400px;
    top: 520px;
}
h4{

	background-color: #b5ce00;
	margin: 50px;
	width: 250px;
	text-align: center;
	color: white;
	position: absolute;
	margin-top: -853px;
	right: 90px;
	font-family: 'Open Sans', sans-serif;

}
.orange{
	position: absolute;
	margin-top: -850px;
	left:  936px;
	height: 50px;
}
h5{
	position: absolute;
	margin-top: -152px;
	right: -56px;
	font-family: 'Open Sans', sans-serif;
}

.a{
	position: relative;
	left: 1080px;
	margin-top: -560px;
	width: 350px;
  }


.images{
	position: absolute;
	margin-top: -210px;
    right: -55px;
}
h6{background-color: #b5ce00;
	margin: 10px;
	
	width: 300px;
	text-align: center;
	color: white;
	position: absolute;
	margin-top: -93px;
	right: 90px;
	font-family: 'Open Sans', sans-serif; 
	font-size: 16px;
}

label{
	display: block;
	margin-left: 72%;
	padding-top: 90px;
	margin-top: -100px;

}
input{
	margin-left: 72%;
	margin-bottom: 30px;
}
button{
	margin-left: 960px;
}
